<html>

<head>
    <title>IT Academy</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

    <h1>IT Academy</h1>
    <h3>Entrer votre pseudo</h3>
    <% if (state == 'connexion') { %>
        <form action="/login" method="post" class= "form">
    <% } else { %>
        <form action="/login2" method="post" class= "form">
    <% } %> 
        <input type="text" name="pseudo" placeholder="pseudo">
        <button type="submit">connexion</button>
    </form>   

</body>


</html>